:root {
    --fuenteNav: 'Suez One', serif;
    --fuenteText:'Roboto Slab', serif;
    --color1: #CFB9AD;
    --color2: #E7DFE0;
    --color3: #F1F3FA;
    --color4: #A48676;
    --color5: #30200E;
    --color6: #76879F;
  
  }

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width:100%;
    height: auto;
}
body{
    background-color: var(--color2);
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

.filtrar-sidebar{
    width: auto;
    background-color: var(--color1);
}

@media (min-width: 768px) {
    .filtrar-principal {
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 1rem;
    }
}

/** Globales **/
.filtrar-contenedor {
    color: var(--color5);
    width: auto;
    margin: 4rem 1rem;
    font-family: var(--fuenteText);
}


/** Grid **/
.grid {
    width:auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    gap: 2rem;
}
@media (min-width: 500px) {
    .grid {
        width:auto;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .grid {
        width:auto;
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/
.producto {

   
    padding: 1rem;
}

.producto__nombre {
    
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    color: var(--color5);
    font-family: var(--fuenteText);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
.filtrar-titulo{
font-size: 3rem;
display: flex;
justify-content: center;
padding: 1rem 0;

}

.filtrar-sub{
    font-size: 2.5rem;
}
.filtrar-sidebar ul{
    font-size: 2rem;
    list-style-type: none;
    list-style:none;
    padding-left:0;
    
}
.filtrar-sidebar> ul{
    padding-left:10% ;
}

@media(max-width:768px){
    .filtrar-sidebar > ul{
        padding: 2rem 0rem;
        display: flex;
        justify-content: center;
        column-gap: 4rem;
        margin: 0;
    }
    
}

@media(max-width:768px){
    .filtrar-titulo  {
        margin: 0;
    }
    
}

.filtrar-nuestros{
    text-align: center;
    font-size: 3rem;
}
.producto>a{
    text-decoration: none;
    color: #30200E;
}