body {
    background-color:rgb(210, 234, 255);
    height: auto;
  }

  @media (max-width: 768px) {
    body {
      font-size: 14px;
      height: auto;
    }
  }
  
  /* Estilos para pantallas de escritorio */
  @media (min-width: 768px) {
    body {
      font-size: 18px;
      height: auto;
    }
  }

  header {
    background-color: #ffffff;
    color: black;
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
  }
  
  h1 {
    font-size: 30px;
    margin: 0;
    color: black;
  }
  

.land{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:rgb(26, 24, 24);
    stroke-opacity: 1;
    stroke-width:0.5;				
    }
    
path:hover, circle:hover {
  stroke: #CDD3F5 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #A7B1EB !important;
  cursor: pointer;
  }
 
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #e3e7fd;
    border: 2px solid #8291E5;
    border-radius: 5px;
    padding: 12px;
    font-family: arial;
  }
 .ge{
display: flex;
align-items: center;
 }
 svg {
  display: block;
  margin: auto auto;
  height: auto;
}